DATABASE_URL="postgresql://eimune:eimune123@localhost:6032/eimune_db?schema=public"
PORT=3000
JWT_SECRET="replace-with-a-random-secret-at-least-32-characters-long"
CORS_ORIGIN="http://localhost:3000"
